<div id="<%= dom_id sector %>">
  <form>
    <fieldset disabled>
      <div class="row" >
        <div class="col-3 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Local:</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= sector.local %>">
        </div>
        <div class="col-3 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Criado por:</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= sector.user.user_name %>">
        </div>
      </div>
    </fieldset>
  </form>
</div>


