<div id="<%= dom_id supplier %>">
  <form>
    <fieldset disabled>
      <div class="row" >
        <div class="col-3 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Tipo:</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= supplier.name %>">
        </div>
      </div>
    </fieldset>
  </form>
</div>
